.summary-details {
  padding: 25px;
  text-align: center;
  margin-bottom: 25px;
}
.detail-wrapper {
  padding: 3px;
  box-shadow: -2px -3px 20px -5px grey;
  margin-right: 55px;
}
.detail-wrapper:hover {
  background-color: #fff;
}
.detail-wrapper span {
  font-size: 30px;
}
.report-day {
  width: 75% !important;
}
