html, body {
  height: 100%;
}
body {
  padding: 50px 0 0 0;
}
.navmenu {
  padding-top: 50px;
}
.navbar {
  display: block;
  text-align: left;
}
.navbar-brand { 
  display: inline-block;
  float: none;
  margin-left:48px;
  font-weight: 400;
  margin-top:3px;
  color:white !important;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 250px;
  }
  .navmenu {
    padding-top: 0;
  }
  .navbar {
    display: none !important; /* IE8 fix */
  }
}
@media(max-width:992px){
  .toolbar{
    display: hidden;
  }
}