.cart-icon, .heart-icon {
  margin-right: 15px;
}
.favourite-link {
  padding-right: 15px !important;
}
.navbar-brand {
  padding-top: 20px;
}
#product_list_info {
  padding: 0;
}
.product_pink_page {
  background-position: center center;
  min-height: 300px;
}
#accessories_list_info {
  margin-top: 0;
  padding: 0;
}
.addToCartButton {
  margin-top: 20px;
  padding-top: 20px;
}
.addToCartButton a {
  color: #232323 !important;
}
.raha-tabs {
  height: 60px;
}
.blog-article {
  margin: 0;
  padding: 15px;
  border: none;
}
.blog-info-txt .article-paragraph {
  text-align: justify;
}
#btnAddToBasket {
  border-color: transparent;
}
.login-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 800;
  margin-bottom: 35px;
}
.btn-login-custom {
  padding-right: 40px;
  padding-left: 40px;
}
.navbar-dark .navbar-nav .nav-link {
  letter-spacing: 3px !important;
}
.navbar-light .navbar-nav .nav-link {
  letter-spacing: 3px !important;
}
#btnCheckOut {
  border: transparent;
}
