#exTab1 .tab-content {
  color : #000000;
  padding : 5px 15px 5px 0px;
}

#exTab2 h3 {
  color :#000000;
  background-color: #43a047;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : #000000;
  background-color: #43a047;
  padding : 5px 15px;
}

.nav-pills{
 padding-top:5px; 
}
.nav-pills:hover{
  background-color: transparent;
}
.nav-pills a{
color:#141414;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #141414;
    background-color: transparent !important;
    border-bottom:1.5px solid  #43a047;
    border-radius: 0;
}


.subnavbar{
  background-color:#fff;
  border-bottom:1px solid #cdcdcd;
  height:48px;
}
.select-all{
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.checkbox-wrapper{
  margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}
.edit-commodity{
  text-align:center;
}