.blog-date{
	color: rgba(0, 0, 0, 0.47);
}
.post-image{
	height: 350px;
    background-size: cover;
}
.post-image img{
	width:100%;
}
.blog-content{
	text-align: justify;
    margin-top: 15px;
    border: 1px solid #d4d4d4;
    padding: 10px;
}
.blog-actions{
	text-align: center;
}