$primary-color-dark:rgb(64,44,90);
$primary-color:#3b3740;
$primary-color-light:#fdfdfd;
$primary-color-text:#FFFFFF;
$accent-color:rgb(72,50,101);
$primary-text-color:#141414;
$secondary-text-color:#747474;
$divider-color:#ebebeb;
$dark-white:#ececec;