@import "cards";
@import "coolors";
@import "mixins.scss";

.welcome-wrapper {}

.form-intro {
    color: $secondary-text-color;
}

.form-wrapper {
    margin-top: 12vh;

    h1 {
        font-weight: 700;
        font-size: 40pt;
    }

    .text-inputs {
        padding-bottom: 40px !important;
    }

    .text-inputs-last {
        padding-bottom: 35px !important;
    }

    .control-label {
        color: #494949 !important;
        font-size: 11pt !important;
        font-weight: 500 !important;
    }

    .main-field {
        margin-top: 10px !important;
    }

    .form-horizontal {
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.checkbox {
    padding-top: 0 !important;
}

.btn-custom {
    margin-top: 10 !important;
    background-color: $primary-color;
    color: $primary-color-text !important;
}

.check {
    margin-right: 5px;
}

.auto-signIn {
    font-size: 15px;
    line-height: 1.42857143;
    color: #333333 !important;
    font-weight: 400;
}

.logIn-hero {
    background-image: url("../images/bg.jpg");
    height: 100vh;
    background-color: $primary-color;
    h1 {
        margin-top: 14vh;
        color: $primary-color-text;
        font-weight: 400;
        font-size: 50pt;
    }
}

.recover-details {
	margin-top:40px;
    font-weight: 300;
    text-align: center;
}

.recover-btn {
    font-weight: 600;
    color: #494949;
}

// recovery-modal
.modal-header {
    background-color: $primary-color;
    color: $primary-color-text;
}

.header-wrapper {
    margin-bottom: 12px;
}

@media (max-width: 768px) {
    .logIn-hero {
        background-image: url("../images/bg.jpg");
        height: 200px;
        background-color: $primary-color;
        background-size:cover;
        h1 {
        	margin-top:0 !important;
        	padding-top:30px;
            color: $primary-color-text;
            font-weight: 400;
            font-size: 18pt;
        }
    }
    .form-wrapper {
    margin-top: 20px;
}
}

@media (min-width: 996px) {

}