@import 'cards';
@import 'colors';
@import 'mixins.scss';

.label.label-info {
    background-color: #368039 !important;
}
.navbar-custom{
background-color:$primary-color !important;
min-height:56px !important;
a{
color:$primary-color-text !important;
}
}
.navbar-toggle{
background-color:transparent !important;
}
.navmenu-side{
background-color:$primary-color-light;
a{
color:$secondary-text-color !important;
font-weight: 500;
}
.active a {
color:$accent-color !important;
background-color:transparent !important;
}
}
.menu-btn{
color:$primary-color-text;
font-size:16pt !important;
}
.welcome-block{
background:$primary-color-text;
height:100vh;
background-size:cover;
background-position:center center;
h3{	color:$primary-text-color;
margin-top: 50px;
}
p{
	color:$primary-color;
	font-weight:400;
	font-size:16px;
	padding-top:10px;
}
img{
	height:400px;
}
}
.btn-submit{
float:none;
margin: 0 auto;
display: -webkit-box;
}
.form-block{
margin-top:50px;
}
.form-custom{
	margin-bottom: 50px !important;
}
.signup-intro-block{
	margin-top:80px;
	p{
		text-align:center;
	}
}
.logo-intro-block{
	margin-top:25px;
	img{
		height:50px;
		margin: 0 auto;
		float:none;
		display:-webkit-box;
	}

}
@media(max-width:768px){
	.welcome-block{
		height:auto;
		img{
			display:none;
			padding-bottom: 10px;
			padding-top:10px;
		}
		h3{
			padding-bottom:20px;
		}
	}
	.welcome-block-wrapper{
		margin-right:15px;
	}
}
.welcome-block-wrapper{
	margin-left:15px;
}
@media(min-width:996px){
	.welcome-block-wrapper{
		margin-top:69px;
	}
}
//student-welcome-login
#Loginmessage{
text-align:center;
}
.welcome-student-block{
background:$primary-color;
height:100vh;
background-size:cover;
background-position:center center;
h3{	color:$primary-color-text;
margin-top: 50px;
}
p{
	color:$primary-color-text;
	font-weight:400;
	font-size:16px;
	padding-top:10px;
}
img{
	height:400px;
}
}
@media(max-width:768px){
	.welcome-student-block{
		height:auto;
		img{
			display:none;
			padding-bottom: 10px;
			padding-top:10px;
		}
		h3{
			padding-bottom:20px;
		}
	}
	.welcome-student-block-wrapper{
		margin-right:15px;
	}
}
.welcome-student-block-wrapper{
	margin-left:15px;
}
@media(min-width:996px){
	.welcome-student-block-wrapper{
		margin-top:69px;
	}
}
//inner pages
//============post news===============

.btn-post{
	@include centering;
	width:100%;
	margin-bottom:30px;
}
@media (min-width: 992px){
	.form-block{
		margin-top:145px;
	}
}
//Event page
.img-circle{
	height:80px;
	width:80px;
	object-fit:cover;
	object-position:center center;
}
// personal Msg
.user-text{
	text-align:center;
	:first-child{
	font-size:100px;
	color:#ddd;
	}
}
#update td {
    transition : 0.3s ease-in;
    animation : anime .6s;
}
@keyframes anime {
    0% { opacity: 0.3 }
    100% { opacity : 1.0;}
}

//agriSalama styles
.page-header{
	h3{
		margin:15px;
	}
	margin-bottom:0px !important;
	border-bottom: 1px solid rgba(60, 56, 65, 0.13);
	margin: 0px;
}
.add-fab-btn{
	background-color:$primary-color !important;
	position: fixed !important;
	bottom:0;
	right:0;
	margin-right:15px !important;
	margin-bottom:15px !important;
}
.agri-menu{
	width:250px !important;	
}
.user-header{
	height:56px;
	background-size:cover;
	cursor: pointer !important;
	border-bottom:0.6px solid $divider-color;
	.information{
		display:-webkit-inline-box;
		margin-top:11px;
	}
	
	p{
		color:$secondary-text-color;
		font-weight: 400;
		margin-top:5px;
	}
	.avatar{
		height:28px;
		width:28px;
		background-size:cover;
		margin-right:15px;
		margin-left:23px;

	}
}
.toolbar{
	height:56px;
	background:$primary-color;
	color:$primary-color-text;
}
.toolbar-title{
font-weight:400;
}
.toolbar-wrapper{
	display: -webkit-inline-box;
	padding-top:15px;
	img{
		// height:30px;
		width:60px;
		margin: -5px 15px 0 15px;
	}
}
.delete-btn{
	color:crimson;
}
.form-group{
	margin-top:5px !important;
}
//admin registration
.register-body{
	background-color:$primary-color-text;
	padding-top:5px;
	h2{
		text-align: center;
	}
	overflow:hidden;
}
.register-btn-wrapper{
	margin-top-top:10px;
	background-color:$primary-color
}
.register-btn{
	float:none;
	margin:0 auto;
	color:$primary-color-text !important;
	margin-top:3px;
}
// account Modal
.modal-header {
    background-color: $primary-color;
    color: $primary-color-text;
}

.header-wrapper {
    margin-bottom: 12px;
}

// chat
.messages-items {
	border-bottom : 1px solid #f1f1f1;
}
.sender-header {
	    display: -webkit-inline-box;
	.time-label{
		margin-left:50px;
	}
}

.text-header {
	margin-top:8px;
}

.text-header-title {
		font-weight:300;
}

.footer {
	    position: fixed;
    bottom: 0;
    height: 50px;
    background-color: #ffffff;
    width: 100%;
    border-top: 1px solid #cecece;
}
.send-button {
	i{
		margin-top : 15px;
	}
}
.date-msg {
	margin-top:0;
	font-size:10px;
}
.main-msg{
	margin-bottom:0 !important;
}
.messages-wrapper{
	margin-top:10px;
}

.messages-content {
  background: #eee;
}
.messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.messages-date {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  margin: 10px 15px;
}
.messages-date span {
  font-weight: 400;
}
.message {
  box-sizing: border-box;
  margin: 0px 8px 8px 8px;
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.message:first-child {
  margin-top: 8px;
}
.message.message-pic img {
  display: block;
  height: auto;
  max-width: 100%;
}
.message-name,
.message-label,
.message-date,
.messages-date {
  color: rgba(0, 0, 0, 0.51);
}
.message-name {
  font-size: 12px;
  line-height: 1;
  margin-bottom: 2px;
  margin-top: 7px;
}
.message-hide-name .message-name {
  display: none;
}
.message-label {
  font-size: 12px;
  line-height: 1;
  margin-top: 4px;
}
.message-hide-label .message-label {
  display: none;
}
.message-avatar {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  margin-top: -48px;
  position: relative;
  top: 1px;
  background-size: cover;
  opacity: 1;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
.message-hide-avatar .message-avatar {
  opacity: 0;
}
.message-text {
  box-sizing: border-box;
  border-radius: 2px;
  padding: 6px 8px;
  min-width: 48px;
  font-size: 16px;
  line-height: 1.2;
  word-break: break-word;
  color: #333;
  min-height: 48px;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.message-pic .message-text {
  padding: 8px;
}
.message-date {
  font-size: 12px;
  margin-top: 4px;
}
.message-pic img + .message-date {
  margin-top: 8px;
}
.message-sent {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.message-sent .message-name,
.message-sent .message-label {
  margin-right: 8px;
}
.message-sent .message-text {
  background-color: #C8E6C9;
  margin-left: auto;
  border-radius: 2px 2px 0 2px;
  margin-right: 8px;
}
.message-sent .message-text:before {
  position: absolute;
  content: '';
  border-left: 0px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #C8E6C9;
  left: 100%;
  bottom: 0;
  width: 0;
  height: 0;
}
.message-sent.message-with-avatar .message-text,
.message-sent.message-with-avatar .message-name,
.message-sent.message-with-avatar .message-label {
  margin-right: 56px;
}
.message-received {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.message-received .message-text {
  background-color: #fff;
  border-radius: 2px 2px 2px 0px;
  margin-left: 8px;
}
.message-received .message-text:before {
  position: absolute;
  content: '';
  border-left: 8px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 8px solid #fff;
  right: 100%;
  bottom: 0;
  width: 0;
  height: 0;
}

.message-title-bar {
	background-color:white;
	height:48px;
	width:100%;
	text-align:center;
	border-bottom:1px solid #cecece;
	p{
		padding-top:12px;
		font-weight:600;
	}
}

.menu-icons 
{
	margin-right: 10px;
}

.filters
{
	margin-top: 10px;
}
.summary-wrapper
{
	margin-top: 25px;
}

.listing-wrapper
{
	margin-top: 30px;
}

.list-item-custom
{
	border-bottom: 1px solid #efefef !important;
    padding: 15px !important;
}

.panel-heading{
	text-transform: uppercase;
}

.content-not-found{
	text-align: center;
    border: 1px solid #e0e0e0;
    padding-top: 18px;
}

.search-result-text
{
	padding-left:15px;
}