html,
body {
    background-color: #fff;
    color: #636b6f;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.title {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

#topDiv {
    background: url('/images/web_assets/rahacarebg.jpg');
    background-size: cover;
    min-height: 670px;
}

#topDivText {
    margin-top: 150px;
}

.allMarginContainer {
    padding: 50px;
}

.container-fixed-margin {
    margin-right: 10px;
    margin-left: 10px;
}

#fiftyPaddingTop {
    padding-top: 50px;
}

#txtWelcome {
    background-color: #232323;
    min-height: 600px;
    margin-top: -70px;
    margin-bottom: 70px
}

#shopNow {
    font-size: 20px;
    border: solid white 2px;
    border-radius: 3px;
    padding: 15px 35px;
    color: white;
    width: 200px;
    text-decoration: none;
}

#shopNow span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#shopNow span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#shopNow:hover span {
    padding-right: 25px;
}

#shopNow:hover span:after {
    opacity: 1;
    right: 0;
}

.navbar {
    border-bottom: 1px solid rgba(211, 211, 211, 0.31);
    position: relative;
    height: 80px;
    font-size: 12px;
    padding: 0 20px;
}

.navbar-brand {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.navbar-toggle {
    z-index: 3;
}


/*bouncing animation*/


/*
call
-webkit-animation: bounce 2s infinite ease-in-out;
to trigger
*/

@-webkit-keyframes bounce {
    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
    }
    80% {
        -webkit-transform: translateY(-10px);
    }
}

#theBlackNav {
    background-color: black;
}

.product_pink_page {
    background: url('/images/web_assets/young-african-american.png');
    background-size: cover;
    min-height: 350px;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#product_list_info {
    list-style: none;
    margin: 0;
    padding: 40px;
    border-bottom: 1px solid lightgray;
}

#product_list_info li {
    display: inline;
    padding: 10px;
}


/*rating star css*/

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating>span:hover:before,
.rating>span:hover~span:before {
    content: "\2605";
    position: absolute;
}


/*

.rating {

}

!* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective *!
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    width:1em;
    float: right;
    !*padding:0 .1em;*!
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:150%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod;
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
*/

.raha-product {
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

#product-item-link {
    text-decoration: none;
    color: black;
}

.addToCartButton {
    color: black;
    font-weight: bold;
    border-top: 1px solid lightgray;
    margin-top: 30px;
    padding-top: 30px;
}

#circle_no {
    background-color: lightgray;
    color: black;
    border-radius: 50%;
    padding: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
}

#circle_no:hover {
    background-color: white;
    color: #F6CCCA;
    border: 2px solid #F6CCCA;
}

#btnAddToBasket {
    background-color: #F6CCCA;
    color: white;
    border-radius: 3px;
    width: 250px;
    height: 50px;
    outline: none;
    cursor: pointer;
}

#btnAddToBasket:hover {
    background-color: #e6bbb9;
}

#btnCheckOut {
    background-color: #F6CCCA;
    color: white;
    border-radius: 3px;
    padding: 15px 35px;
    text-decoration: none;
    display: inline-block;
    margin-top: 100px;
}

#btnCheckOut span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#btnCheckOut span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#btnCheckOut:hover span {
    padding-right: 25px;
}

#btnCheckOut:hover span:after {
    opacity: 1;
    right: 0;
}

.product-img img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.product-info {
    border-bottom: 1px solid lightgray;
}

.cart-summery {
    background-color: #F8FAFB;
    color: black;
    font-weight: bold
}

#header-cart-summery {
    font-size: 25px;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.blog-info-txt {
    padding: 30px;
}

.blog-article {
    border: 1px solid lightgray;
    padding: 0;
    margin: 15px;
}

.center-cropped {
    width: 100%;
    height: 450px;
    background-position: center center;
    background-repeat: no-repeat;
}


/* Style the tab */

div.tab {
    overflow: hidden;
}

.tab-group {
    border-bottom: 1px solid #cccccc;
}


/* Style the buttons inside the tab */

div.tab button {
    background-color: inherit;
    outline: none;
    cursor: pointer;
    width: 240px;
    padding: 14px 16px;
    transition: 0.3s;
    color: #cccccc;
    border: none;
    font-weight: bold;
    font-size: small;
}


/* Change background color of buttons on hover */

div.tab button:hover {
    color: black;
}


/* Create an active/current tablink class */

div.tab button.active {
    color: black;
    border-bottom: 2px solid #cccccc;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    margin-top: 50px;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.payment-card-selection {
    border: 1px solid #cccccc;
    padding: 30px;
}

#current_item_no {
    background-color: #efefef;
    border: none;
    line-height: 48px;
    text-align: center
}

#borderRight {
    border-right: 1px solid lightgray;
    padding: 30px
}

#rating-right-border {
    border-right: 1px solid lightgray;
}

#bold-fifty-black {
    font-weight: bold;
    font-size: 50px;
    color: black
}

.payment-section-margin {
    padding: 50px;
}

.checkout-product-img img {
    width: 80px;
    height: 100px;
}

.cart-summery-margin {
    padding: 30px;
}

#article-paragraph {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /*line-height: 16px;     !* fallback *!*/
    /*max-height: 32px;      !* fallback *!*/
    -webkit-line-clamp: 6;
    /* number of lines to show */
}

#faq-header {
    font-weight: bold;
    color: black;
    font-size: 30px;
    margin-left: 20px;
    border: none;
    cursor: pointer;
    outline: none;
}

#image-read-faq {
    font-size: 40px;
    color: #F6CCCA;
}

#faq-welcome {
    color: black;
    font-weight: bold;
    font-size: 50px;
    text-align: center
}

#faq-welcome-info {
    text-align: center;
    font-size: 20px;
    font-weight: bold
}

.faq-container {
    padding: 50px;
}

.home-about-us {
    padding-top: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /*line-height: 16px;     !* fallback *!*/
    /*max-height: 32px;      !* fallback *!*/
    -webkit-line-clamp: 2;
    /* number of lines to show */
}

#txt-read-more {
    cursor: pointer
}

.home-about-us-long {
    padding-top: 50px;
}

.social-media-icon img {
    cursor: pointer;
}


/*sizing elements depending on screen size*/


/*phone screen size*/

@media(max-width: 767px) {
    /*the image in welcome page*/
    #topDiv {
        background: url('/images/web_assets/o-HAPPY-BLACK-WOMAN-facebook.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 550px;
    }
    #txtWelcome {
        background-color: #232323;
        min-height: 500px;
        margin: 0;
    }
    /*change title font-size in welcome page*/
    .title {
        font-size: 25px;
    }
    #shopNow {
        font-size: 12px;
        border: solid white 2px;
        border-radius: 3px;
        padding: 12px 32px;
        color: white;
        width: 200px;
        text-decoration: none;
    }
    /*change bottom margin for social media icons*/
    .social-media-icon {
        margin-bottom: 10px;
    }
    /*change the bottom of welcome page*/
    #borderRight {
        border: none;
        padding: 30px
    }
    .text-not-center {
        text-align: center !important;
    }
    /*remove the under line from nav bar*/
    .navbar {
        border-bottom: none;
        padding: 0;
        position: relative;
        height: 80px;
        font-size: 12px;
    }
    /*product background*/
    .product_pink_page {
        background: url('/images/web_assets/young-african-american.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 300px;
        color: white;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
    #rating-right-border {
        border-right: none;
        border-bottom: 1px solid lightgray;
        margin-bottom: 10px;
    }
    /*product image*/
    .product-img img {
        position: relative;
        width: 200px;
        height: 250px;
    }
    #bold-fifty-black {
        font-weight: bold;
        font-size: 30px;
        color: black
    }
    .header-one {
        font-size: 30px;
    }
    #btnAddToBasket {
        background-color: #F6CCCA;
        color: white;
        border-radius: 3px;
        width: 150px;
        height: 50px;
        outline: none;
        cursor: pointer;
    }
    /* Style the buttons inside the tab */
    div.tab button {
        width: 100px;
        padding-bottom: 5px;
        padding-left: 0;
        padding-right: 0;
        font-size: 8px;
    }
    .payment-section-margin {
        padding: 2px;
    }
    #navbarText {
        font-size: 7px;
    }
    #header-cart-summery {
        font-size: 20px;
    }
    /*check out sizing*/
    .checkout-product-img img {
        width: 50px;
        height: 60px;
    }
    .checkout-product-info {
        margin-left: 10px;
        font-size: 13px;
    }
    .cart-summery-margin {
        padding: 10px;
    }
    #faq-header {
        font-weight: bold;
        color: black;
        font-size: 10px;
        margin-left: 10px;
        background-color: white;
        border: none;
        cursor: pointer;
        outline: none;
    }
    .image-read-faq {
        font-size: 25px;
        color: #F6CCCA;
    }
    #faq-welcome {
        color: black;
        font-weight: bold;
        font-size: 30px;
        text-align: center
    }
    #faq-welcome-info {
        text-align: center;
        font-size: 10px;
        font-weight: bold
    }
    .faq-container {
        padding: 20px;
    }
    .faq-explanation {
        font-size: 10px;
    }
    /*products page*/
    #product_list_info {
        font-size: 10px;
        padding: 12px;
    }
    #products-welcome {
        font-size: 30px;
    }
    #product-item-link img {
        width: 180px;
        height: 200px;
    }
    .addToCartButton {
        margin-top: 10px;
        padding-top: 10px;
    }
}

#cart-items-white{
    margin-left: 10px;
    background: white;
    color: black;
    border-radius: 50px;
    padding: 5px;
}

#cart-items-red{
    margin-left: 10px;
    background: #ff3a00;
    color: white;
    border-radius:50px;
    padding: 5px;
}

.card{
    border: none;
}

#faq-article {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    padding-top: 50px;
}


/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: rgba(35, 35, 35, 0.91);
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    border-bottom: 1px solid rgba(211, 211, 211, 0.06);
    font-weight: bold;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.quantity-selector {
    margin-top: 10px;
    padding-left: 12px;
}

.quantity-selector span {
    margin-left: 15px;
}

.color-selector {
    margin-top: 10px;
}

.color-selector input {
    margin-right: 5px;
}
.go_to_checkout
{
    border: 1px solid;
    width: 47%;
    text-align: center;
    padding: 11px;
    background-color: #0aaf0ac9;
    color: white;
}
.help-block
{
    color:#da1818
}

.user-name{
    text-transform: uppercase;
}
.user-name a{
    background-color: none;
    border-color: none;
}

.footer-brand{
    max-width:180px;
}

.btn-facebook {
    color: #ffffff;
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #2b4b90;
    *background-color: #133783;
    background-image: -moz-linear-gradient(top, #3b5998, #133783);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
    background-image: -webkit-linear-gradient(top, #3b5998, #133783);
    background-image: -o-linear-gradient(top, #3b5998, #133783);
    background-image: linear-gradient(to bottom, #3b5998, #133783);
    background-repeat: repeat-x;
    border-color: #133783 #133783 #091b40;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-facebook:hover,
    .btn-facebook:focus,
    .btn-facebook:active,
    .btn-facebook.active,
    .btn-facebook.disabled,
    .btn-facebook[disabled] {
        color: #ffffff;
        background-color: #133783 !important;
        *background-color: #102e6d !important;
    }

    .btn-facebook:active,
    .btn-facebook.active {
        background-color: #0d2456 \9 !important;
    }



.btn-google {
    color: #ffffff;
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #db3236;
    *background-color: #db3236;
    background-image: -moz-linear-gradient(top, #db3236, #db3236);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#db3236), to(#db3236));
    background-image: -webkit-linear-gradient(top, #db3236, #db3236);
    background-image: -o-linear-gradient(top, #db3236, #db3236);
    background-image: linear-gradient(to bottom, #db3236, #db3236);
    background-repeat: repeat-x;
    border-color: #db3236 #db3236 #db3236;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-google:hover,
    .btn-google:focus,
    .btn-google:active,
    .btn-google.active,
    .btn-google.disabled,
    .btn-google[disabled] {
        color: #ffffff;
        background-color: #db3236 !important;
        *background-color: #db3236 !important;
    }

    .btn-google:active,
    .btn-google.active {
        background-color: #db3236 \9 !important;
    }

.delivery_disclaimer{
    font-size: 11px;
    border-top: 1px solid #ccc;
    padding-top: 18px !important;
}
.cost-row{
    padding-top: 18px;
}